$blue: blue;
$pink: pink;
$bdColor1: #999;


$fontColor1: #000;

$paddingS: 4px;
$paddingM: 6px;
$paddingL: 10px;

$marginS: 4px;
$marginM: 6px;
$marginL: 10px;

$bgColor1: #fff;

$bdRadiusS: 4px;
$bdRadiusM: 6px;
$bdRadiusL: 10px;