$blue: blue;
$pink: pink;
$bdColor1: #999;
$bdColorError: red;

$fontColor1: #000;

$paddingS: 4px;
$paddingM: 6px;
$paddingL: 10px;

$marginS: 4px;
$marginM: 6px;
$marginL: 10px;

$bgColor1: #fff;
$bgColorError: rgb(241, 159, 201);

$bdRadiusS: 4px;
$bdRadiusM: 6px;
$bdRadiusL: 10px;

