.fileuploader {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    .fileUploader {
        &__url {
            flex-grow: 1;
            color: #999;
            background-color: #eee;
            border: 1px solid #999;
            border-right: 0;
        }
        &__button {
            flex-basis: 100px;
            border: 1px solid #999;
            text-align: center;
        }
        &__hidden {
            width: 0;
            height: 0;
            overflow: hidden;
        }
    }
}