@import '@global/var';

.dialog__halfscreen {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    background: #fff;
    transform: translateX(0);
    &--active {
        transform: translateX(0);
    }
}