@import '@global/var';

.table__header__th {
    display: flex;
    background: #eee;
    border-right: 1px solid $bdColor1;
    color: $fontColor1;
    &:last-of-type {
        border-right: 0;
    }
}